
@{
	ViewData["Title"] = "InstructorIndex";
}

<style>
	.button {
		width: 200px;		
	}

    .space{
        margin-bottom: 15px;
    }
    .space h3{
        font-size: 20px;
    }
</style>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1 class="text-center">Instructor Index</h1>
		</div>

		<div class="row">
			<div class="col-md-12 text-center space">
				<h3>Preferences</h3>
				<a class="btn btn-default button" asp-action="Preferences">Preferences</a>

			</div>
			<div class="col-md-12 text-center space">
				<h3>Create A Student</h3>
				<a class="btn btn-default button" asp-controller="Instructors" asp-action="ToStudent">Create Account</a>

			</div>
			<div class="col-md-12 text-center space">
				<h3>Play Game</h3>
				<a class="btn btn-default button" href="#">Play Game</a>

			</div>
			<div class="col-md-12 text-center space">
				<h3>Logout</h3>
				<a class="btn btn-default button" href="#">Logout</a>

			</div>
			<div class="col-md-12 text-center space">
				<h3>Student List</h3>
				<a class="btn btn-default button text-center" asp-controller="Students" asp-action="Index">View Students</a>

			</div>
		</div>
	</div>
</body>


