@model IceCreamMathGame.Models.InstructorM

@{
    ViewData["Title"] = "InstructorRegister";
}

<style>
	.button {
		width: 400px;
	}

	.button2 {
		width: 280px;
	}

	.center {
		margin: 0 auto;
	}

	.span {
		display: block;
		text-align: center;
		padding-top: 10px;
	}

	.title {
		border-top: solid 1px lightgrey;
		border-right: solid 1px lightgrey;
		border-left: solid 1px lightgrey;
	}

	.test {
		text-align: center;
	}

	@@media only screen and (max-width: 349px) {
		.button {
			width: 100%;
		}

		.button2 {
			width: 100%;
		}
	}
</style>

<form asp-action="InstructorRegister">
    <div class="form-horizontal">
        <hr />
		<div class="well">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<div class="col-md-12">
					<h2 class="test">Instructor Register</h2>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					<input asp-for="LastName" placeholder="Enter Last Name" class="form-control center text-center" />
					<span asp-validation-for="LastName" class="text-danger span"></span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					<input asp-for="FirstName" placeholder="Enter First Name" class="form-control center text-center" />
					<span asp-validation-for="FirstName" class="text-danger span"></span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					<input asp-for="UserName" placeholder="Enter User Name" class="form-control center text-center" />
					<span asp-validation-for="UserName" class="text-danger span"></span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					<input asp-for="Password" placeholder="Enter Password" class="form-control center text-center" />
					<span asp-validation-for="Password" class="text-danger span"></span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					<input asp-for="Email" placeholder="Enter Email Address" class="form-control center text-center" />
					<span asp-validation-for="Email" class="text-danger span"></span>
				</div>
			</div>
			<div class="form-group text-center">
			<div class="col-md-12">
				<input type="submit" value="Create" class="btn btn-default button" />
			</div>
		</div>
		<div class="form-group text-center">
			<div class="col-md-12">
				<a class="btn btn-default button2" asp-action="InstructorLogin">Back To Login</a>
			</div>
		</div>
    </div>
		</div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
