@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">ICE CREAM MATH</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Ice Cream Math</h2>
        <p>
            Have fun learning math and making delicious ice cream treats.
        </p>
    </div>
	<div class="col-md-4">
		<h2>Log into Account</h2>
		<p>If your an Instructor, please log in</p>
		<p><a class="btn btn-default" href="/Instructors/InstructorLogin">Log In</a></p>
	</div>
    <div class="col-md-4">
        <h2>Create an Account</h2>
        <p>Are you a teacher? Create an account and track your students progress as they play the game and learn principles of basic arethmetic</p>
        <p><a class="btn btn-default" href="/Instructors/InstructorRegister">Create Account</a></p>
    </div>
    <div class="col-md-4">
        <h2>Play the Game</h2>
        <p>Play the game without an account or logging student progress</p>
        <p><a class="btn btn-default" href="http://icecreammathgame1.azurewebsites.net/">Play!</a></p>
    </div>
</div>